## APP
APP_NAME=mealguide-api
APP_PORT=8080
POSTGRES_PORT=5432
REDIS_PORT=6379

## DB
DB_HOST=postgres
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

## JPA
JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
JPA_HIBERNATE_DDL_AUTO=validate
JPA_FORMAT_SQL=false

## REDIS
REDIS_HOST=redis

## CORS
CORS_ALLOWED_ORIGINS=https://your-frontend.example.com

## SWAGGER
SWAGGER_SERVER_URL="https://api.your-domain.com"
SWAGGER_DESCRIPTION="Production API Server"
